.cell {
    /*
    width: 10%;
    height: 100%;
    */
    width: 12px;
    height: 12px;
}

.cell:not(:last-child) {
    border-right: 1px solid #dddddd;
}

.cell.snake {
    background: #000000;
}

.cell.food {
    background: #dd0000;
}
