.grid {
    /*
    width: 90%;
    height: 90%;
    */
    border: 1px solid #dddddd;
    transition: opacity ease-in-out 500ms;
    margin-bottom: 30px;
}

.grid.lost {
    opacity: 0.25;
}
