.scores {
    min-width: 400px;
    border: 1px solid #000000;
    border-collapse: collapse;
}

.scores > thead {
    background: #000000;
    color: #ffffff;
    font-weight: bold;
}

.scores > tbody {

}

.scores tr {
    display: flex;
}

.scores td {
    flex-basis: 50%;
    padding: 3px;
}

.scores > tbody > tr:not(:last-child) {
    border-bottom: 1px solid #000000;
}
